extends layout.pug

block nav

block link
  p.sharing-link
    a.link(id='myLink' target="_blank") Tambah Orang
    span(id="myLinkInput" class="aside disappear")
    span(class="copy-container" data-tooltip="Copy to Clipboard")
      i(data-feather="copy" class="copy-link" color="rgb(17, 117, 232)")
    span(class="copy-status") Copied!

block scripts
  script(src='js/bundle.js')
