doctype html
html(lang="en")
  head
    title= "Aplikasi Kolaborasi"
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon')
  body
    .navbar
      a(href='/' target="_blank")
        h1.logo Aplikasi Kolaborasi
      .nav-items
        block nav
    p#safari Browser tidak support.
    #conclave.hide
      .text-wrapper
        .editor
          .header
            block link
            button#download(type='button') Simpan File
            label#upload(for='file') Upload File
            input#file(type='file' accept='.txt, .js, .rb, .md')
          textarea(row='10' col='20')
        p#peerId Sesi:
      .video-modal.hide
        .video-bar
            i(data-feather="minus" class="minimize")
            i(data-feather='x' class="exit")
        video
    .loading
      p Loading
      .sk-fading-circle
        .sk-circle1.sk-circle
        .sk-circle2.sk-circle
        .sk-circle3.sk-circle
        .sk-circle4.sk-circle
        .sk-circle5.sk-circle
        .sk-circle6.sk-circle
        .sk-circle7.sk-circle
        .sk-circle8.sk-circle
        .sk-circle9.sk-circle
        .sk-circle10.sk-circle
        .sk-circle11.sk-circle
        .sk-circle12.sk-circle
    script.
      feather.replace({ 'stroke-width': 3 });
    block scripts
