
/****************
animations
****************/

@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

/****************
General
****************/

body {
  margin: 0;
  padding: 15px;
  background-color: #fcfcfc;
}

h1 {
  margin: 0 0 0 10px;
  padding-bottom: 20px;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

a.link {
  color: teal;
  position: relative;
  margin-right: 10px;
  vertical-align: 5px;
}

a.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: teal;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.hide, .hide * {
  visibility: hidden;
}

.disappear {
  display: none;
}

#safari {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  display: none;
}

/****************
NavBar
****************/

.navbar {
  display: flex;
  justify-content: left;
  min-width: 710px;
}

.nav-items {
  flex-grow: .75;
  display: flex;
  justify-content: space-evenly;
}

.logo:hover {
  color: teal;
}

/****************
Editor
****************/

#conclave {
  width: 100%;
  margin: 0 auto;
}

.editor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1250px;
  width: 100%;
  min-width: 600px;
  justify-content: flex-start;
  padding: 0 10px;
}

.header {
  width: 100%;
}

.text-wrapper {
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

#ownName {
  float: left;
  margin-left: 5px;
}

#ownName span {
  padding: 2px;
  margin-left: 8px;
}

#peerId {
  min-width: 150px;
  flex-grow: 1;
  margin: 50px 0 0 10px;
}

#peerId li {
  list-style-type: none;
  margin: 3px 3px 11px 0px;
  font-size: 14px;
}

#peerId span {
  padding: 3px;
}

label, button {
  float: right;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid teal;
  margin: 0 0 10px 10px;
  font-family: "InputLight";
  font-size: 12px;
  line-height: 32px;
  color: white;
  cursor: pointer;
  background-color: teal;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button:hover {
  cursor: pointer;
}


/* COMMENTED OUT: Phone icons have been removed so removing pointer cursor */
/* li span:hover {
  cursor: pointer;
} */

/****************
Video
****************/

.video-modal {
  width: 250px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.video-bar {
  height: 36px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 15px;
}

.video-bar.mini {
  border-radius: 6px;
}

.exit, .minimize {
  cursor: pointer;
}

video {
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


/********************
CodeMirror
********************/

.CodeMirror {
  font-family: 'InputLight';
  border-radius: 8px;
  line-height: 1.5em;
  border: solid 1px teal;
  clear: both;
  padding: 0;
  height: 560px;
  width: 100%;
}

.CodeMirror-focused {
  
}

.CodeMirror-scroll {
  padding: 10px;
}

/********************
Cursors
********************/

.remote-cursor {
  width: 2px;
  position: absolute;
  top: 0px;
}

.flag {
  top: -10px;
  font-size: 12px;
  left: 0px;
  position: absolute;
  line-height: 15px;
}

/********************
Calling Peer
********************/

.phone {
  display: inline-block;
}

.phone-in,
.phone-out,
.phone-call {
  display: none;
}

.calling .phone,
.beingCalled .phone,
.answered .phone {
  display: none;
}

.calling .phone-out {
  display: inline-block;
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.beingCalled .phone-in {
  display: inline-block;
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

.answered .phone-call {
  display: inline-block;
}

.phone,
.phone-in,
.phone-out,
.phone-call {
  margin-left: 5px;
  height: 20px;
  vertical-align: -5px;
  cursor: pointer;
}

/***************
ToolTip
***************/

.sharing-link {
  display: inline-block;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  top: 145%;
  left: 95%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 130px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.7);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  top: 115%;
  left: 55%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid hsla(0, 0%, 20%, 0.7);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.copy-container {
  margin-right: 10px;
}

.copy-status {
  opacity: 0;
  vertical-align: 5px;
}

.copy-status.copied {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1);
}


/*************
  Loading
*************/

#conclave.hide + .loading {
  display: block;
}

.loading {
  display: none;
  color: teal;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}

.loading p {
  text-align: center;
  font-size: 18px;
}

.sk-fading-circle {
  margin: 50px auto 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: teal;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
